.bg {
  background: url("../images/bg.jpg") no-repeat ;
}
.navbar-top .navbar-toggle .icon-bar {
  background-color: #fff;
}
.btn:focus,
.btn:focus:focus,
.btn:active:focus,
.btn.focus,
.btn.active:focus,
.btn.active.focus {
  outline: none;
}

.navbar-top .navbar-toggle {
border: #fff 1px solid;
}
.navbar-top {
  background-color: transparent;
  border-radius: 0;
}
.navbar-top .navbar_bt {
  border-bottom: 1px solid #355;
  background-color: rgba(79, 85, 85, 0.2);
  border-bottom-left-radius: 37%;
  border-bottom-right-radius: 37%;
  padding-bottom: 2px;
}
.nav-r.navbar-nav>li>a:hover {
  background-color: #130c0e;
  border-radius: 50%;
}

.nav-r.navbar-nav>li>a:focus {
  background-color: #000;
}
.nav-r a{
  color: #8a8c8e;
  text-shadow: 0px 0px 12px cyan ;
}
.nav-r li:nth-child(1) a {
  font-size: 18px;
  color: #d3d7d4;
  text-shadow: 0px 0px 12px #90d7ec ;
}

.nav-r li:nth-child(8) a {
  margin-top: -3px;
  transform: rotate(-4deg);
}
.nav-r.navbar-nav>li>a:focus {
    background-color: transparent;
}


margin-top: -3px;
transform: rotate(-4deg);

.navbar-brand  {
  font-size: 20px;
  color: #999d9c;
  margin-left: 10px;
}

.container .jumbotron {
  background-color: #d3d4d7 ;
  opacity: .7;
  box-shadow: 0px 0px 30px #fff;
}

.container .jumbotron .btn-primary {
  background-color: #337A63;
}

.container .jumbotron .btn-primary:hover {
  border-color: transparent;
}
.container .jumbotron .btn-primary:focus {
  border-color: transparent;
}

.container .jumbotron .btn-primary:active {
  background-color: #666;
  opacity: .5
}

.page-header {
  border-bottom-color: #fff;
  opacity: .5;
}
